@page
@model CreateModel
@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="w-50 justify-content-md-center" style="margin-left:25%">
    <h2 class="display-4" style="text-align: center">Create a new Song</h2>

    <form method="post" class="align-items-center" style="align-content: center">
        @Html.LabelFor(a => a.Music.Artist)
        <input asp-for="Music.Artist" required class="form-control">
        <br />
        @Html.LabelFor(a => a.Music.Title)
        <input asp-for="Music.Title" required class="form-control">
        <br />
        <button type="submit" class="btn btn-dark w-25">Submit</button>
    </form>
</div>